<a href="https://colab.research.google.com/github/RuchiV78/IPL-2023/blob/main/IPL2023Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
uploaded = files.upload()

Saving IPL_Ball_by_Ball_2022.csv to IPL_Ball_by_Ball_2022.csv
Saving IPL_Matches_2022.csv to IPL_Matches_2022.csv

In [3]:
import pandas as pd
import numpy as np

Load Data

In [6]:
iplball = pd.read_csv('IPL_Ball_by_Ball_2022.csv')

In [8]:
iplmatch = pd.read_csv('IPL_Matches_2022.csv')

In [9]:
iplball.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [11]:
iplball.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')

In [24]:
[iplball[(iplball['BattingTeam']=='Gujarat Titans')]]

[            ID  innings  overs  ballnumber        batter        bowler  \
 120    1312200        2      0           1       WP Saha      TA Boult
 121    1312200        2      0           2       WP Saha      TA Boult
 122    1312200        2      0           3       WP Saha      TA Boult
 123    1312200        2      0           4  Shubman Gill      TA Boult
 124    1312200        2      0           5  Shubman Gill      TA Boult
 ...        ...      ...    ...         ...           ...           ...
 17178  1304050        2     18           6     R Tewatia  PVD Chameera
 17179  1304050        2     19           1     A Manohar    Avesh Khan
 17180  1304050        2     19           2     A Manohar    Avesh Khan
 17181  1304050        2     19           3     A Manohar    Avesh Khan
 17182  1304050        2     19           4     R Tewatia    Avesh Khan

         non-striker extra_type  batsman_run  extras_run  total_run  \
 120    Shubman Gill        NaN            0           0          0
 121    Shubman Gill        NaN            0           0          0
 122    Shubman Gill        NaN            1           0          1
 123         WP Saha        NaN            0           0          0
 124         WP Saha        NaN            0           0          0
 ...             ...        ...          ...         ...        ...
 17178     A Manohar        NaN            0           0          0
 17179     R Tewatia        NaN            4           0          4
 17180     R Tewatia        NaN            4           0          4
 17181     R Tewatia        NaN            1           0          1
 17182     A Manohar        NaN            4           0          4

        non_boundary  isWicketDelivery player_out kind fielders_involved  \
 120               0                 0        NaN  NaN               NaN
 121               0                 0        NaN  NaN               NaN
 122               0                 0        NaN  NaN               NaN
 123               0                 0        NaN  NaN               NaN
 124               0                 0        NaN  NaN               NaN
 ...             ...               ...        ...  ...               ...
 17178             0                 0        NaN  NaN               NaN
 17179             0                 0        NaN  NaN               NaN
 17180             0                 0        NaN  NaN               NaN
 17181             0                 0        NaN  NaN               NaN
 17182             0                 0        NaN  NaN               NaN

           BattingTeam
 120    Gujarat Titans
 121    Gujarat Titans
 122    Gujarat Titans
 123    Gujarat Titans
 124    Gujarat Titans
 ...               ...
 17178  Gujarat Titans
 17179  Gujarat Titans
 17180  Gujarat Titans
 17181  Gujarat Titans
 17182  Gujarat Titans

 [1971 rows x 17 columns]]

In [19]:
iplball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17912 entries, 0 to 17911
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 17912 non-null  int64
 1   innings            17912 non-null  int64
 2   overs              17912 non-null  int64
 3   ballnumber         17912 non-null  int64
 4   batter             17912 non-null  object
 5   bowler             17912 non-null  object
 6   non-striker        17912 non-null  object
 7   extra_type         1050 non-null   object
 8   batsman_run        17912 non-null  int64
 9   extras_run         17912 non-null  int64
 10  total_run          17912 non-null  int64
 11  non_boundary       17912 non-null  int64
 12  isWicketDelivery   17912 non-null  int64
 13  player_out         912 non-null    object
 14  kind               912 non-null    object
 15  fielders_involved  704 non-null    object
 16  BattingTeam        17912 non-null  object
dtypes: int64(9), object(8)
memory usage: 2.3+ MB

In [ ]:
inningID = iplball[(iplball['BattingTeam']=='Gujarat Titans')]

In [25]:
print(iplball['ID'].where(iplball['BattingTeam']=='Gujarat Titans'))

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
17907   NaN
17908   NaN
17909   NaN
17910   NaN
17911   NaN
Name: ID, Length: 17912, dtype: float64

In [26]:
iplball.shape

(17912, 17)

In [28]:
iplmatch.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [29]:
iplmatch.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [32]:
iplmatch['ID'].where((iplmatch['Team1']=='Gujarat Titans') | (iplmatch['Team2']=='Gujarat Titans'))

0     1312200.0
1           NaN
2           NaN
3     1312197.0
4           NaN
        ...
69          NaN
70    1304050.0
71          NaN
72          NaN
73          NaN
Name: ID, Length: 74, dtype: float64

In [35]:
iplGT = iplmatch.loc[iplmatch['ID'].where((iplmatch['Team1']=='Gujarat Titans') | (iplmatch['Team2']=='Gujarat Titans')).notnull()]

In [36]:
iplGT

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
12,1304108,Mumbai,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans,"Wankhede Stadium, Mumbai",Chennai Super Kings,bat,N,Gujarat Titans,Wickets,7,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
17,1304103,Pune,2022-05-10,2022,57,Gujarat Titans,Lucknow Super Giants,"Maharashtra Cricket Association Stadium, Pune",Gujarat Titans,bat,N,Gujarat Titans,Runs,62,NaN,Shubman Gill,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Shar...",KN Ananthapadmanabhan,MA Gough
23,1304097,Mumbai,2022-05-06,2022,51,Mumbai Indians,Gujarat Titans,"Brabourne Stadium, Mumbai",Gujarat Titans,field,N,Mumbai Indians,Runs,5,NaN,TH David,"['Ishan Kishan', 'RG Sharma', 'SA Yadav', 'Til...","['WP Saha', 'Shubman Gill', 'HH Pandya', 'B Sa...",J Madanagopal,GR Sadashiv Iyer
26,1304094,Navi Mumbai,2022-05-03,2022,48,Gujarat Titans,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Gujarat Titans,bat,N,Punjab Kings,Wickets,8,NaN,K Rabada,"['WP Saha', 'Shubman Gill', 'B Sai Sudharsan',...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",R Pandit,VK Sharma
31,1304089,Mumbai,2022-04-30,2022,43,Royal Challengers Bangalore,Gujarat Titans,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,bat,N,Gujarat Titans,Wickets,6,NaN,R Tewatia,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['WP Saha', 'Shubman Gill', 'B Sai Sudharsan',...",HAS Khalid,VK Sharma
34,1304086,Mumbai,2022-04-27,2022,40,Sunrisers Hyderabad,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5,NaN,Umran Malik,"['Abhishek Sharma', 'KS Williamson', 'RA Tripa...","['WP Saha', 'Shubman Gill', 'HH Pandya', 'DA M...",CB Gaffaney,Navdeep Singh
39,1304081,Navi Mumbai,2022-04-23,2022,35,Gujarat Titans,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Gujarat Titans,bat,N,Gujarat Titans,Runs,8,NaN,Rashid Khan,"['WP Saha', 'Shubman Gill', 'HH Pandya', 'DA M...","['SW Billings', 'SP Narine', 'SS Iyer', 'N Ran...",KN Ananthapadmanabhan,UV Gandhe
45,1304075,Pune,2022-04-17,2022,29,Chennai Super Kings,Gujarat Titans,"Maharashtra Cricket Association Stadium, Pune",Gujarat Titans,field,N,Gujarat Titans,Wickets,3,NaN,DA Miller,"['RD Gaikwad', 'RV Uthappa', 'MM Ali', 'AT Ray...","['WP Saha', 'Shubman Gill', 'V Shankar', 'A Ma...",KN Ananthapadmanabhan,UV Gandhe
50,1304070,Mumbai,2022-04-14,2022,24,Gujarat Titans,Rajasthan Royals,"Dr DY Patil Sports Academy, Mumbai",Rajasthan Royals,field,N,Gujarat Titans,Runs,37,NaN,HH Pandya,"['MS Wade', 'Shubman Gill', 'V Shankar', 'HH P...","['JC Buttler', 'D Padikkal', 'R Ashwin', 'SV S...",CB Gaffaney,R Pandit
53,1304067,Mumbai,2022-04-11,2022,21,Gujarat Titans,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8,NaN,KS Williamson,"['MS Wade', 'Shubman Gill', 'B Sai Sudharsan',...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",Chirra Ravikanthreddy,RJ Tucker
58,1304062,Mumbai,2022-04-08,2022,16,Punjab Kings,Gujarat Titans,"Brabourne Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,6,NaN,Shubman Gill,"['MA Agarwal', 'S Dhawan', 'JM Bairstow', 'LS ...","['MS Wade', 'Shubman Gill', 'B Sai Sudharsan',...",AK Chaudhary,VK Sharma
64,1304056,Pune,2022-04-02,2022,10,Gujarat Titans,Delhi Capitals,"Maharashtra Cricket Association Stadium, Pune",Delhi Capitals,field,N,Gujarat Titans,Runs,14,NaN,LH Ferguson,"['MS Wade', 'Shubman Gill', 'V Shankar', 'HH P...","['PP Shaw', 'TL Seifert', 'Mandeep Singh', 'RR...",KN Ananthapadmanabhan,UV Gandhe
70,1304050,Mumbai,2022-03-28,2022,4,Lucknow Super Giants,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5,NaN,Mohammed Shami,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Shubman Gill', 'MS Wade', 'V Shankar', 'HH P...",PG Pathak,VK Sharma

In [37]:
iplGT.shape

(16, 20)

In [38]:
iplGT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 70
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               16 non-null     int64
 1   City             16 non-null     object
 2   Date             16 non-null     object
 3   Season           16 non-null     int64
 4   MatchNumber      16 non-null     object
 5   Team1            16 non-null     object
 6   Team2            16 non-null     object
 7   Venue            16 non-null     object
 8   TossWinner       16 non-null     object
 9   TossDecision     16 non-null     object
 10  SuperOver        16 non-null     object
 11  WinningTeam      16 non-null     object
 12  WonBy            16 non-null     object
 13  Margin           16 non-null     int64
 14  method           0 non-null      float64
 15  Player_of_Match  16 non-null     object
 16  Team1Players     16 non-null     object
 17  Team2Players     16 non-null     object
 18  Umpire1          16 non-null     object
 19  Umpire2          16 non-null     object
dtypes: float64(1), int64(3), object(16)
memory usage: 2.6+ KB

In [39]:
iplballGT = iplball.loc[iplball['ID'].isin(iplGT.ID)]

In [40]:
iplballGT

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17178,1304050,2,18,6,R Tewatia,PVD Chameera,A Manohar,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
17179,1304050,2,19,1,A Manohar,Avesh Khan,R Tewatia,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans
17180,1304050,2,19,2,A Manohar,Avesh Khan,R Tewatia,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans
17181,1304050,2,19,3,A Manohar,Avesh Khan,R Tewatia,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
17182,1304050,2,19,4,R Tewatia,Avesh Khan,A Manohar,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans

In [41]:
iplballGT.ID.value_counts()

1304081    253
1312197    252
1304086    251
1304062    247
1304056    247
1304097    246
1304075    246
1304070    246
1304067    246
1304050    245
1304108    244
1304089    244
1304113    237
1312200    233
1304094    229
1304103    212
Name: ID, dtype: int64

In [63]:
#GT batsman total runs
dfbatsman = iplballGT

In [64]:
dfbatsman.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [67]:
GTbatting = dfbatsman.loc[dfbatsman['BattingTeam'] == "Gujarat Titans"]

In [68]:
GTbatting

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17178,1304050,2,18,6,R Tewatia,PVD Chameera,A Manohar,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
17179,1304050,2,19,1,A Manohar,Avesh Khan,R Tewatia,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans
17180,1304050,2,19,2,A Manohar,Avesh Khan,R Tewatia,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans
17181,1304050,2,19,3,A Manohar,Avesh Khan,R Tewatia,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
17182,1304050,2,19,4,R Tewatia,Avesh Khan,A Manohar,NaN,4,0,4,0,0,NaN,NaN,NaN,Gujarat Titans

In [71]:
iplballGT.loc[iplballGT['BattingTeam']=="Gujarat Titans",['batter','batsman_run']].groupby('batter').sum().sort_values(by='batsman_run',ascending=False).style.background_gradient(cmap='gray_r')